<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HEALING CARD</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/bootstrap-icons.css">

    <link rel="stylesheet" href="../../css/owl.carousel.min.css">

    <link rel="stylesheet" href="../../css/owl.theme.default.min.css">

    <link href="../../css/templatemo-pod-talk.css" rel="stylesheet">

</head>

<body>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand me-lg-5 me-0" href="../../index.html">
                    <img src="../../images/LogoEXE101.png" class="logo-image img-fluid" alt="templatemo pod talk">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../../about.html">About</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="../../contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h2 class="mb-0">Công việc</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="latest-podcast-section section-padding pb-0" id="section_2" style="padding-top: 0;">
            <div class="container">
                <div class="row justify-content-center" style="margin-bottom: 100px;">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Chán nản</h4>
                        </div>
                        <style>
                            .hidden {
                                display: none;
                            }
                        </style>

                        <div id="div1" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/PODCAST-vuot-qua-giai-doan-chan-viec.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://www.youtube.com/watch?v=vqYP6tyusQY">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            12:50 Minutes
                                        </small>
                                    </div>

                                    <h2 class="mb-2">Vượt Qua Cảm Giác Chán Việc, Cách Nào Để Đi Làm Không Còn Là “Ác Mộng”</h2>

                                    <p>Thảo luận về nguyên nhân gây chán nản trong công việc và đề xuất các giải pháp để khắc phục, giúp bạn tìm lại động lực khi đi làm.</p>                                
                                </div>
                            </div>
                        </div>

                        <div id="div2" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/chan-nan-trong-cong-viec-giai-phap.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://www.youtube.com/watch?v=epOFPtmPWFc">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            7:21 Minutes
                                        </small>

                                    </div>

                                    <h2 class="mb-2">10 Chán Nản Trong Công Việc Thì Phải Làm Sao?</h2>

                                    <p>Chia sẻ kinh nghiệm và lời khuyên về cách đối phó với cảm giác chán nản trong công việc, giúp bạn tìm ra hướng đi phù hợp.</p>                                    
                                </div>
                            </div>
                        </div>
                        <div id="div3" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/burnout.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://www.youtube.com/watch?v=9s_S5tJAZRM">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            9:29 Minutes
                                        </small>

                                    </div>

                                    <h2 class="mb-2">Burnout - tình trạng 'sức tàn lực kiệt' ở nơi làm việc và cách vượt qua</h2>

                                    <p>Thảo luận về hiện tượng kiệt sức trong công việc, nguyên nhân và cách khắc phục để lấy lại năng lượng và tinh thần làm việc.</p>
                                </div>
                            </div>
                        </div>

                        <div id="div4" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/vuc_day.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://www.youtube.com/watch?v=4AIhLv-qtYk">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            9:29 Minutes
                                        </small>

                                    </div>

                                    <h2 class="mb-2">Vực Dậy Sau Những Ngày Mệt Mỏi và Mất Động Lực</h2>

                                    <p>Tập podcast này chia sẻ về cách vượt qua những ngày mệt mỏi, mất động lực, giúp người nghe tìm lại năng lượng và sự hứng khởi trong cuộc sống.</p>
                                </div>
                            </div>
                        </div>

                        <div id="div5" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/chan_nan_vuot_qua.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://www.youtube.com/watch?v=SOZzvrqoXeg">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            9:29 Minutes
                                        </small>

                                    </div>

                                    <h2 class="mb-2">Cách Vượt Qua Cảm Xúc Chán Nản</h2>

                                    <p>Trong tập này, Thầy Minh Niệm chia sẻ về nguyên nhân gây ra cảm xúc chán nản và hướng dẫn cách đối mặt, chuyển hóa chúng để tìm lại niềm vui và sự bình an trong cuộc sống.</p>
                                </div>
                            </div>
                        </div>

                        <div id="div6" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/chan_nan_vuot_qua.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://open.spotify.com/show/4l7IlAkQaSvDjSD7TnZJSh">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            9:29 Minutes
                                        </small>

                                    </div>

                                    <h2 class="mb-2">Nhân Vật Chính</h2>

                                    <p>Podcast tập trung vào việc xây dựng hình ảnh bản thân và cách tự nhận thức để sống tích cực hơn. Giúp người nghe khám phá và phát triển bản thân một cách toàn diện.</p>
                                </div>
                            </div>
                        </div>



                        <script>
                            window.onload = function () {
                                // Chọn tất cả các thẻ div có id bắt đầu bằng "div"
                                const divs = Array.from(document.querySelectorAll("div[id^='div']"));
                        
                                if (divs.length === 0) return; // Kiểm tra nếu không có thẻ nào để tránh lỗi
                        
                                // Chọn ngẫu nhiên một index trong mảng
                                const randomIndex = Math.floor(Math.random() * divs.length);
                        
                                // Ẩn tất cả các thẻ
                                divs.forEach(div => div.classList.add("hidden"));
                        
                                // Hiển thị thẻ div được chọn
                                divs[randomIndex].classList.remove("hidden");
                            };
                        </script>

                    </div>

                </div>
            </div>
        </section>

    </main>


    <footer class="site-footer">   
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="subscribe-form-wrap">
                        <h6>Subscribe. Every weekly.</h6>

                        <form class="custom-form subscribe-form" action="#" method="get" role="form">
                            <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control" id="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Contact</h6>

                    <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> 84+ 899 689 599</p>

                    <p>
                        <strong class="d-inline me-2">Email:</strong>
                        <a href="mailto:khanhuy0915@gmail.com">soul@gmail.com</a> 
                    </p>
                </div>

            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">

                <div class="col-lg-2 col-md-3 col-12">
                    <a class="navbar-brand" href="index.html">
                        <img src="../../images/LogoEXE101.png" class="logo-image img-fluid" alt="templatemo pod talk">
                    </a>
                </div>

                <div class="col-lg-7 col-md-9 col-12">
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Homepage</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="../../contact.html" class="site-footer-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="copyright-text mb-0">Copyright © 2025 Soul Company
                    <br><br>
                    Design: <a rel="nofollow" href="https://www.linkedin.com/in/khuy/" target="_parent">Soul Company</a></p>
                </div>
            </div>
        </div>
    </footer>



    <!-- JAVASCRIPT FILES -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/custom.js"></script>

</body>

</html>