<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HEALING CARD</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/bootstrap-icons.css">

    <link rel="stylesheet" href="../../css/owl.carousel.min.css">

    <link rel="stylesheet" href="../../css/owl.theme.default.min.css">

    <link href="../../css/templatemo-pod-talk.css" rel="stylesheet">

</head>

<body>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand me-lg-5 me-0" href="../../index.html">
                    <img src="../../images/LogoEXE101.png" class="logo-image img-fluid" alt="templatemo pod talk">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../../about.html">About</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="../../contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h2 class="mb-0">Công việc</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="latest-podcast-section section-padding pb-0" id="section_2" style="padding-top: 0;">
            <div class="container">
                <div class="row justify-content-center" style="margin-bottom: 100px;">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Chán nản</h4>
                        </div>
                        <style>
                            .hidden {
                                display: none;
                            }
                        </style>

                        <div id="div1" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/vuot-chan-nan-trong-cong-viec.webp" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://podcasts.apple.com/us/podcast/5-5-c%C3%A1ch-gi%C3%BAp-m%C3%ACnh-v%C6%B0%E1%BB%A3t-qua-s%E1%BB%B1-ch%C3%A1n-n%E1%BA%A3n-trong-c%C3%B4ng-vi%E1%BB%87c/id1704093566?i=1000633743635">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            13 Minutes
                                        </small>
                                    </div>

                                    <h2 class="mb-2">5 cách giúp mình vượt qua sự chán nản trong công việc</h2>

                                    <p>Chia sẻ các phương pháp để vượt qua cảm giác lạc lối và chán nản trong công việc, giúp bạn tìm lại định hướng và động lực.</p>                                
                                </div>
                            </div>
                        </div>

                        <div id="div2" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/nguyen-phi-van.jpg" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://podcastrepublic.net/podcast/1578629273">
                                                <i class="bi-play"></i>
                                                Read now
                                            </a>
                                        </small>

                                    </div>

                                    <h2 class="mb-2">Em đang bế tắc giữa 2 lựa chọn</h2>

                                    <p>Chia sẻ về tình trạng bế tắc khi đứng trước những lựa chọn quan trọng trong sự nghiệp và cách tìm ra hướng đi phù hợp.</p>                                    
                                </div>
                            </div>
                        </div>

                        <div id="div3" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/findingaudio.png" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://podcasts.apple.com/vn/podcast/the-finding-audio/id1552145738">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            13 Minutes
                                        </small>
                                    </div>

                                    <h2 class="mb-2">The Finding Audio</h2>

                                    <p>'The Finding Audio' là podcast series về chủ đề 'Thất bại & Thành công', 'Sự dễ bị tổn thương & Sức bật tinh thần'. Thông qua câu chuyện của hai host Yênly và Duy Tin, cùng khách mời và các bạn khán thính giả, podcast mong muốn bình thường hóa những thất bại hay sự dễ bị tổn thương, để chứng minh rằng việc đi tìm sức bật tinh thần là một hành trình mang tính cá nhân nhưng không hề một mình.</p>                                
                                </div>
                            </div>
                        </div>

                        <div id="div4" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/joerogan.jpg" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://open.spotify.com/show/4rOoJ6Egrf8K2IrywzwOMk">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            13 Minutes
                                        </small>
                                    </div>

                                    <h2 class="mb-2">Chầm Chậm Mà Sống</h2>

                                    <p>Được dẫn dắt bởi Health Coach Nam Phương, podcast này chia sẻ về lối sống chậm, dinh dưỡng và cách tái tạo tư duy trong thế kỷ 21. Qua đó, người nghe có thể tìm thấy sự bình yên và định hướng trong những lúc cảm thấy lạc lối.</p>                                
                                </div>
                            </div>
                        </div>

                        <script>
                            window.onload = function () {
                                // Chọn tất cả các thẻ div có id bắt đầu bằng "div"
                                const divs = Array.from(document.querySelectorAll("div[id^='div']"));
                        
                                if (divs.length === 0) return; // Kiểm tra nếu không có thẻ nào để tránh lỗi
                        
                                // Chọn ngẫu nhiên một index trong mảng
                                const randomIndex = Math.floor(Math.random() * divs.length);
                        
                                // Ẩn tất cả các thẻ
                                divs.forEach(div => div.classList.add("hidden"));
                        
                                // Hiển thị thẻ div được chọn
                                divs[randomIndex].classList.remove("hidden");
                            };
                        </script>

                    </div>

                </div>
            </div>
        </section>

    </main>


    <footer class="site-footer">   
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="subscribe-form-wrap">
                        <h6>Subscribe. Every weekly.</h6>

                        <form class="custom-form subscribe-form" action="#" method="get" role="form">
                            <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control" id="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Contact</h6>

                    <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> 84+ 899 689 599</p>

                    <p>
                        <strong class="d-inline me-2">Email:</strong>
                        <a href="mailto:khanhuy0915@gmail.com">soul@gmail.com</a> 
                    </p>
                </div>

            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">

                <div class="col-lg-2 col-md-3 col-12">
                    <a class="navbar-brand" href="index.html">
                        <img src="../../images/LogoEXE101.png" class="logo-image img-fluid" alt="templatemo pod talk">
                    </a>
                </div>

                <div class="col-lg-7 col-md-9 col-12">
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Homepage</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="../../contact.html" class="site-footer-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="copyright-text mb-0">Copyright © 2025 Soul Company
                    <br><br>
                    Design: <a rel="nofollow" href="https://www.linkedin.com/in/khuy/" target="_parent">Soul Company</a></p>
                </div>
            </div>
        </div>
    </footer>



    <!-- JAVASCRIPT FILES -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/custom.js"></script>

</body>

</html>