<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HEALING CARD</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/bootstrap-icons.css">

    <link rel="stylesheet" href="../../css/owl.carousel.min.css">

    <link rel="stylesheet" href="../../css/owl.theme.default.min.css">

    <link href="../../css/templatemo-pod-talk.css" rel="stylesheet">

</head>

<body>

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand me-lg-5 me-0" href="../../index.html">
                    <img src="../../images/LogoEXE101.png" class="logo-image img-fluid" alt="templatemo pod talk">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../../about.html">About</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="../../contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h2 class="mb-0">Cuộc sống</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="latest-podcast-section section-padding pb-0" id="section_2" style="padding-top: 0;">
            <div class="container">
                <div class="row justify-content-center" style="margin-bottom: 100px;">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Tình yêu</h4>
                        </div>
                        <style>
                            .hidden {
                                display: none;
                            }
                        </style>
                        <div id="div1" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <!-- <img src="img/burnout.png" class="custom-block-image img-fluid" alt=""> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <h3 class="mb-2">Trong tình yêu, không ai hoàn hảo, nhưng sự tha thứ và cảm thông sẽ giúp ta vượt qua mọi khó khăn.</h3>

                                    <p>Câu nói này nhấn mạnh một thực tế quan trọng. Đó là không một ai trong chúng ta là hoàn hảo, và mối quan hệ nào cũng sẽ gặp thử thách. Tuy nhiên, chính sự tha thứ và cảm thông sẽ giúp tình yêu bền vững và trưởng thành hơn.</p>
                                    <p>Cảm nhận về câu nói:</p>
                                    <p>Tình yêu không phải lúc nào cũng màu hồng 🌹</p>
                                    <p>Khi yêu, ai cũng mong muốn một mối quan hệ hạnh phúc, nhưng không thể tránh khỏi những lúc bất đồng, tổn thương hay thất vọng. Nếu chỉ tìm kiếm sự hoàn hảo, ta có thể dễ dàng chán nản và bỏ cuộc khi đối phương có khuyết điểm.</p>
                                    <p>Tha thứ không phải là yếu đuối mà là sự trân trọng 💞</p>
                                    <p>Tha thứ không có nghĩa là bỏ qua mọi sai lầm mà là sẵn sàng cho nhau cơ hội sửa đổi. Một trái tim biết tha thứ thể hiện sự mạnh mẽ và trân trọng mối quan hệ hơn là việc chỉ nhìn vào lỗi lầm của nhau.</p>
                                    <p>Cảm thông giúp tình yêu trưởng thành 🤝</p>
                                    <p>Khi hai người đặt mình vào vị trí của đối phương, họ sẽ hiểu nhau hơn, biết lắng nghe và tìm cách dung hòa những khác biệt. Sự cảm thông tạo ra sự kết nối sâu sắc và giảm thiểu những tổn thương không đáng có.</p>
                                    <p>Lời khuyên dành cho bạn:</p>
                                    <p>✅ Học cách giao tiếp chân thành: Đừng chỉ giữ mọi cảm xúc trong lòng mà hãy chia sẻ một cách nhẹ nhàng, chân thành để cả hai hiểu nhau hơn.</p>
                                    <p>✅ Chấp nhận rằng ai cũng có khuyết điểm: Đừng kỳ vọng đối phương luôn hoàn hảo, thay vào đó, hãy yêu cả những điều chưa hoàn hảo của họ.</p>
                                    <p>✅ Biết tha thứ đúng cách: Nếu lỗi lầm có thể sửa chữa, hãy cho nhau cơ hội. Nhưng nếu ai đó liên tục làm tổn thương bạn mà không hối lỗi, hãy cân nhắc việc buông bỏ để bảo vệ bản thân.</p>
                                    <p>✅ Xây dựng lòng tin: Một mối quan hệ bền vững dựa trên niềm tin, vì vậy hãy luôn trung thực và đáng tin cậy với nhau.</p>
                                    <p>Tình yêu không chỉ là cảm xúc, mà còn là sự thấu hiểu và kiên nhẫn. Nếu cả hai cùng nỗ lực, mọi khó khăn đều có thể vượt qua. 💖</p>
                                </div>
                            </div>
                        </div>

                        <div id="div2" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <!-- <img src="img/burnout.png" class="custom-block-image img-fluid" alt=""> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <h3 class="mb-2">Đôi khi tình yêu chỉ đơn giản chấp nhận các khuyết điểm của nhau và cùng nhau tiến về phía trước.</h3>

                                    <p>💖 Tình yêu không phải là tìm kiếm một người hoàn hảo, mà là học cách yêu thương một người với tất cả những điều chưa hoàn hảo của họ.</p>

                                    <p>Mỗi người đều có điểm mạnh và điểm yếu, nhưng khi yêu nhau thật lòng, chúng ta chọn chấp nhận thay vì cố gắng thay đổi đối phương theo ý mình.</p>
                                    <p>Chấp nhận ở đây không có nghĩa là cam chịu mọi thứ, mà là hiểu rằng sự khác biệt là điều tự nhiên, từ đó cùng nhau điều chỉnh để hòa hợp hơn.n</p>
                                        
                                    <p>🌿 Chấp nhận không có nghĩa là bỏ qua mọi sai lầm, mà là biết điều gì đáng giữ, điều gì cần thay đổi. Khi cả hai cùng nhìn về phía trước, thay vì chìm trong những bất đồng, tình yêu sẽ trở thành động lực giúp cả hai trưởng thành và hạnh phúc hơn."</p>
                                    <p>✨ Tình yêu bền vững không đến từ sự hoàn hảo, mà đến từ sự bao dung, thấu hiểu và đồng hành cùng nhau. ✨</p>
                                </div>
                            </div>
                        </div>

                        <div id="div3" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/lovedrive.webp" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://open.spotify.com/show/1vnpJvylwVe3mbn2NchI9k">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            12:04 Minutes
                                        </small>

                                    </div>

                                    <h2 class="mb-2">The Love Drive</h2>

                                    <p>Podcast này tập trung vào tình yêu lành mạnh, cách giao tiếp hiệu quả trong các mối quan hệ và những lời khuyên từ chuyên gia về tình yêu và hẹn hò. Các tập podcast thường có sự góp mặt của các chuyên gia tâm lý và những câu chuyện thực tế từ khách mời.</p>                                    
                                </div>
                            </div>
                        </div>

                        <div id="div4" class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="img/tamsuyeuxa.webp" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="https://voiz.vn/play/1302/">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            12:04 Minutes
                                        </small>

                                    </div>

                                    <h2 class="mb-2">Tâm Sự Yêu Xa</h2>

                                    <p>Nơi trải lòng của những người yêu xa, chia sẻ cảm xúc nhớ nhung, lo âu và cách vượt qua khó khăn trong mối quan hệ xa cách.</p>                                    
                                </div>
                            </div>
                        </div>

                        <script>
                            window.onload = function () {
                                // Chọn tất cả các thẻ div có id bắt đầu bằng "div"
                                const divs = Array.from(document.querySelectorAll("div[id^='div']"));
                        
                                if (divs.length === 0) return; // Kiểm tra nếu không có thẻ nào để tránh lỗi
                        
                                // Chọn ngẫu nhiên một index trong mảng
                                const randomIndex = Math.floor(Math.random() * divs.length);
                        
                                // Ẩn tất cả các thẻ
                                divs.forEach(div => div.classList.add("hidden"));
                        
                                // Hiển thị thẻ div được chọn
                                divs[randomIndex].classList.remove("hidden");
                            };
                        </script>

                    </div>

                </div>
            </div>
        </section>

    </main>


    <footer class="site-footer">   
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <div class="subscribe-form-wrap">
                        <h6>Subscribe. Every weekly.</h6>

                        <form class="custom-form subscribe-form" action="#" method="get" role="form">
                            <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required="">

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control" id="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-md-0 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Contact</h6>

                    <p class="mb-2"><strong class="d-inline me-2">Phone:</strong> 84+ 899 689 599</p>

                    <p>
                        <strong class="d-inline me-2">Email:</strong>
                        <a href="mailto:khanhuy0915@gmail.com">soul@gmail.com</a> 
                    </p>
                </div>

            </div>
        </div>

        <div class="container pt-5">
            <div class="row align-items-center">

                <div class="col-lg-2 col-md-3 col-12">
                    <a class="navbar-brand" href="index.html">
                        <img src="../../images/LogoEXE101.png" class="logo-image img-fluid" alt="templatemo pod talk">
                    </a>
                </div>

                <div class="col-lg-7 col-md-9 col-12">
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Homepage</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="../../contact.html" class="site-footer-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12">
                    <p class="copyright-text mb-0">Copyright © 2025 Soul Company
                    <br><br>
                    Design: <a rel="nofollow" href="https://www.linkedin.com/in/khuy/" target="_parent">Soul Company</a></p>
                </div>
            </div>
        </div>
    </footer>



    <!-- JAVASCRIPT FILES -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/custom.js"></script>

</body>

</html>